<ul class="pure-menu-list">
  <li class="pure-menu-heading" style="text-align:center;font-weight:300;">{{site.title}}</li> 

  <li class="pure-menu-item">
    <a href="{{ site.baseurl }}/index.html" class="pure-menu-link">Blog</a>
  </li>

  <li class="pure-menu-item">
    <a href="{{ site.baseurl }}/doc" class="pure-menu-link">Documentation</a>
  </li>
  
  <li class="pure-menu-item">
    <a href="{{ site.baseurl }}/ex" class="pure-menu-link">Examples</a>
  </li>
  
  <li class="pure-menu-item">
    <a href="{{ site.baseurl }}/about" class="pure-menu-link">About</a>
  </li>
  
  <li class="pure-menu-heading" style="text-align:center;font-weight:300;">Links</li>

  <li class="pure-menu-item"><a href="https://gitlab.com/rosie-pattern-language/rosie"
				class="pure-menu-link">Gitlab: code, doc</a> 
  </li>
  
  <li class="pure-menu-item"><a href="https://twitter.com/search?q=%23modernpatternmatching"
				class="pure-menu-link">Twitter: #modernpatternmatching</a> 
  </li>

  <li class="pure-menu-item"><a href="https://twitter.com/jamietheriveter"
				class="pure-menu-link">Twitter: @jamietheriveter</a> 
  </li>

  <li class="pure-menu-item"><a href="https://JamieTheRiveter.gitlab.io"
				class="pure-menu-link">More: Jamie's personal blog</a> 
  </li>

  <li class="pure-menu-item"><a href="mailto:info@rosie-lang.org"
				class="pure-menu-link">Email: Contact us</a> 
  </li>
  
</ul>
