<!DOCTYPE html>
<html lang="en">
<head>
<!-- meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website." -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}: {{page.title}}</title>
    
    <link rel="shortcut icon" href="{{ site.baseurl }}/css/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pure-min.css">
    <link rel="stylesheet" href="/css/side-menu.css">
    <link href="{{ site.baseurl }}/css/syntax-friendly.css" rel="stylesheet">


<!--    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous"> 
-->
    
</head>
<body>

<div id="layout">


    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
	  <img class="pure-img displayed" src="{{ site.baseurl }}/images/rosie-circle-blog.png">
		{% include nav.html %}
        </div>
    </div>

    <div id="main">
	    <!-- img class="pure-img displayed" src="{{ site.baseurl }}/img/header.jpg" -->
	    <!-- img class="pure-img displayed" src="{{ site.baseurl }}/img/header.png" -->
        <div class="header">
		<h1>{{page.title}}</h1>
		<h2>{{site.description}}</h2>
        </div>

        <div class="content">
		{{content}} 
        </div>

    </div>
</div>




<script src="/js/ui.js"></script>

</body>
</html>
