---
layout: default
---
<div class="post">

  <header class="post-header">
    <!-- <h1 class="post-title">{{ page.title }}</h1> -->
    <!-- <h2>{{ page.title }}</h2> -->
    <p class="post-meta">
        <p style="color:gray;"> Posted on {{ page.date | date: "%b %-d, %Y" }} </p>
        <!-- {% for tag in page.tags %} -->
        <!--   <span class="post-category post-category-{{ tag }}">{{ tag }}</span> -->
        <!-- {% endfor %} -->
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
